In [3]:
import math 
import numpy as np
import pandas as pd
from scipy import stats
import requests
!pip install dotenv

Collecting dotenv
  Obtaining dependency information for dotenv from https://files.pythonhosted.org/packages/b2/b7/545d2c10c1fc15e48653c91efde329a790f2eecfbbf2bd16003b5db2bab0/dotenv-0.9.9-py2.py3-none-any.whl.metadata
  Downloading dotenv-0.9.9-py2.py3-none-any.whl.metadata (279 bytes)
Collecting python-dotenv (from dotenv)
  Obtaining dependency information for python-dotenv from https://files.pythonhosted.org/packages/14/1b/a298b06749107c305e1fe0f814c6c74aea7b2f1e10989cb30f544a1b3253/python_dotenv-1.2.1-py3-none-any.whl.metadata
  Downloading python_dotenv-1.2.1-py3-none-any.whl.metadata (25 kB)
Using cached dotenv-0.9.9-py2.py3-none-any.whl (1.9 kB)
Using cached python_dotenv-1.2.1-py3-none-any.whl (21 kB)
Installing collected packages: python-dotenv, dotenv
Successfully installed dotenv-0.9.9 python-dotenv-1.2.1

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

Creating the DataFrame of Bookmakers PreMatch odds from 16:29 on 09/11/25

In [4]:
Bet365 = [17/20,3/1,14/5]
Bet7 = [47/50,14/5, 133/50]
Betano = [9/10, 3/1, 13/5]
BetFred = [19/20, 3/1, 13/5]
BetVictor = [87/100, 31/10,13/5]

Column__Names = ['Bookmaker', 'City Win', 'Draw', 'Liverpool Win']
data = [['Bet365', Bet365[0], Bet365[1], Bet365[2]],
        ['Bet7', Bet7[0], Bet7[1], Bet7[2]],
        ['Betano', Betano[0], Betano[1], Betano[2]],
        ['BetFred', BetFred[0], BetFred[1], BetFred[2]],
        ['BetVictor', BetVictor[0], BetVictor[1], BetVictor[2]]]
df = pd.DataFrame(data, columns=Column__Names)
df

   Bookmaker  City Win  Draw  Liverpool Win
0     Bet365      0.85   3.0           2.80
1       Bet7      0.94   2.8           2.66
2     Betano      0.90   3.0           2.60
3    BetFred      0.95   3.0           2.60
4  BetVictor      0.87   3.1           2.60

In [5]:
data = [
    ["Bet365",    "17/20", "3/1",  "14/5"],
    ["Bet7",      "47/50", "14/5", "133/50"],
    ["Betano",    "9/10",  "3/1",  "13/5"],
    ["BetFred",   "19/20", "3/1",  "13/5"],
    ["BetVictor", "87/100","31/10","13/5"],
]

cols = ["Bookmaker", "City Win", "Draw", "Liverpool Win"]

def fractional_to_prob(frac_str):
    num, den = map(int, frac_str.split("/"))
    return den / (num + den)

df = pd.DataFrame(data, columns=cols)

for col in cols[1:]:
    df[col] = df[col].apply(fractional_to_prob)

In [6]:
df['Overround'] = df[cols[1:]].sum(axis=1)
df['Overround'].mean()
df

   Bookmaker  City Win      Draw  Liverpool Win  Overround
0     Bet365  0.540541  0.250000       0.263158   1.053698
1       Bet7  0.515464  0.263158       0.273224   1.051846
2     Betano  0.526316  0.250000       0.277778   1.054094
3    BetFred  0.512821  0.250000       0.277778   1.040598
4  BetVictor  0.534759  0.243902       0.277778   1.056440

Manually Inputting Man City's games this season prior to the fixture

In [7]:
Fixture_1 = ["Wolverhampton Wanderers", "Away", 4, 0, 2.47, 0.56]

Fixture_2 = ["Tottenham Hotspur", "Home", 0, 2, 1.55, 1.11]

Fixture_3 = ["Brighton & Hove Albion", "Away", 1, 2,2.3, 1.82]

Fixture_4 = ["Manchester United", "Home", 3, 0, 2.63, 1.52]

Fixture_5 = ["Arsenal", "Away", 1, 1, 0.89, 0.87]

Fixture_6 = ["Burnley", "Home", 5, 1 , 2.03, 0.41]

Fixture_7 = ["Brentford", "Away", 1, 0, 0.85, 0.7]

Fixture_8 = ["Everton", "Home", 2, 0, 2.38, 0.81]

Fixture_9 = ["Aston Villa", "Away", 0, 1, 1.18, 0.81]

Fixture_10 = ["Bournemouth", "Home", 3, 1, 2.22, 0.72]

Columns = ['Opponent', 'Location', 'GF', 'GA', 'xG', 'xGA']

In [8]:
df_City = pd.DataFrame([Fixture_1, Fixture_2, Fixture_3, Fixture_4, Fixture_5, Fixture_6, Fixture_7, Fixture_8, Fixture_9, Fixture_10], columns=Columns)
df_City
df_City_Home = df_City[df_City['Location'] == 'Home']
df_City_Away = df_City[df_City['Location'] == 'Away']

City_2526_xG = np.sum(df_City["xG"])
City_2526_xGA = np.sum(df_City["xGA"])

Manually inputting Liverpool's games this season prior to the fixture

In [10]:
Liv_1 = ["Bournemouth", 'Home', 4, 2,2.21, 1.7]
Liv_2 = ["Newcastle United", "Away", 3,2, 0.69, 0.98]
Liv_3 = ["Arsenal", "Away", 1,0, 0.52, 0.49]
Liv_4 = ["Burnley", "Away", 1, 0, 2.65, 0.13]

Liv_5 = ["Everton", "Home", 2, 0, 0.9, 0.7]

Liv_6 = ["Crystal Palace", "Away", 1, 2, 2.14, 2.92]

Liv_7 = ["Chelsea", "Away", 1, 2, 1.95, 1]

Liv_8 = ["Manchester United", "Home", 1, 2, 2.75, 1.34]

Liv_9 = ["Brentford", "Away", 2, 3, 2.75, 2.3]

Liv_10 = ["Aston Villa", "Home", 2, 0, 1.19, 0.41]

df_Liv = pd.DataFrame([Liv_1, Liv_2, Liv_3, Liv_4, Liv_5, Liv_6, Liv_7, Liv_8, Liv_9, Liv_10], columns=Columns)
df_Liv
Liv_2526_xG = np.sum(df_Liv["xG"])
Liv_2526_xGA = np.sum(df_Liv["xGA"])

Poisson CDF Function Generation

In [ ]:
import math

def pois_pmf(k, lam):
    return math.exp(-lam) * lam**k / math.factorial(k)

def match_probs(lam_M, lam_L, K=10):
    # pmfs
    pM = [pois_pmf(k, lam_M) for k in range(K+1)]
    pL = [pois_pmf(k, lam_L) for k in range(K+1)]

    # CDFs
    FM = []
    FL = []
    cum_M = cum_L = 0.0
    for k in range(K+1):
        cum_M += pM[k]
        cum_L += pL[k]
        FM.append(cum_M)
        FL.append(cum_L)

    # P(draw)
    p_draw = sum(pM[k] * pL[k] for k in range(K+1))

    # P(City > Liverpool)
    p_M_win = sum(pM[m] * FL[m-1] for m in range(1, K+1))

    # P(Liverpool > City)
    p_L_win = sum(pL[l] * FM[l-1] for l in range(1, K+1))

    return p_M_win, p_draw, p_L_win

Using 24/25 Data

In [14]:
import pandas as pd
from io import StringIO

table_text = """Rk	Squad	MP	W	D	L	GF	GA	GD	Pts	Pts/MP	xG	xGA	xGD	xGD/90	Attendance	Top Team Scorer	Goalkeeper	Notes
1	Club Crest Liverpool	38	25	9	4	86	41	+45	84	2.21	82.2	38.6	+43.6	+1.15	60,324	Mohamed Salah - 29	Alisson	→ Champions League via league finish
2	Club Crest Arsenal	38	20	14	4	69	34	+35	74	1.95	59.9	34.4	+25.5	+0.67	60,251	Kai Havertz - 9	David Raya	→ Champions League via league finish
3	Club Crest Manchester City	38	21	8	9	72	44	+28	71	1.87	68.1	47.7	+20.4	+0.54	52,756	Erling Haaland - 22	Ederson	→ Champions League via league finish
4	Club Crest Chelsea	38	20	9	9	64	43	+21	69	1.82	67.8	47.3	+20.5	+0.54	39,672	Cole Palmer - 15	Robert Sánchez	→ Champions League via league finish
5	Club Crest Newcastle Utd	38	20	6	12	68	47	+21	66	1.74	63.8	45.5	+18.3	+0.48	52,187	Alexander Isak - 23	Nick Pope	→ Champions League via league finish
6	Club Crest Aston Villa	38	19	9	10	58	51	+7	66	1.74	56.1	50.1	+5.9	+0.16	42,079	Ollie Watkins - 16	Emiliano Martínez	→ Europa League via league finish
7	Club Crest Nott'ham Forest	38	19	8	11	58	46	+12	65	1.71	45.5	48.9	-3.4	-0.09	30,059	Chris Wood - 20	Matz Sels	→ Conference League via league finish
8	Club Crest Brighton	38	16	13	9	66	59	+7	61	1.61	58.7	54.6	+4.1	+0.11	31,798	Danny Welbeck, Kaoru Mitoma... - 10	Bart Verbruggen	
9	Club Crest Bournemouth	38	15	11	12	58	46	+12	56	1.47	64.0	48.5	+15.5	+0.41	11,210	Justin Kluivert - 12	Kepa Arrizabalaga	
10	Club Crest Brentford	38	16	8	14	66	57	+9	56	1.47	59.0	55.4	+3.6	+0.09	18,742	Bryan Mbeumo - 20	Mark Flekken	
11	Club Crest Fulham	38	15	9	14	54	54	0	54	1.42	49.0	47.2	+1.8	+0.05	26,826	Raúl Jiménez - 12	Bernd Leno	
12	Club Crest Crystal Palace	38	13	14	11	51	51	0	53	1.39	60.4	49.1	+11.3	+0.30	25,064	Jean-Philippe Mateta - 14	Dean Henderson	→ Europa League via cup win
13	Club Crest Everton	38	11	15	12	42	44	-2	48	1.26	41.8	46.2	-4.5	-0.12	38,439	Iliman Ndiaye - 9	Jordan Pickford	
14	Club Crest West Ham	38	11	10	17	46	62	-16	43	1.13	47.0	59.7	-12.7	-0.33	62,463	Jarrod Bowen - 13	Alphonse Areola	
15	Club Crest Manchester Utd	38	11	9	18	44	54	-10	42	1.11	52.6	53.8	-1.3	-0.03	73,747	Bruno Fernandes, Amad Diallo - 8	André Onana	
16	Club Crest Wolves	38	12	6	20	54	69	-15	42	1.11	43.7	58.1	-14.5	-0.38	30,695	Matheus Cunha - 15	José Sá	
17	Club Crest Tottenham	38	11	5	22	64	65	-1	38	1.00	58.8	63.3	-4.5	-0.12	61,127	Brennan Johnson - 11	Guglielmo Vicario	→ Champions League
18	Club Crest Leicester City	38	6	7	25	33	80	-47	25	0.66	32.6	71.9	-39.3	-1.03	31,448	Jamie Vardy - 9	Mads Hermansen	Relegated
19	Club Crest Ipswich Town	38	4	10	24	36	82	-46	22	0.58	34.4	72.7	-38.3	-1.01	29,742	Liam Delap - 12	Arijanet Muric	Relegated
20	Club Crest Southampton	38	2	6	30	26	86	-60	12	0.32	32.7	84.8	-52.1	-1.37	30,882	Paul Onuachu - 4	Aaron Ramsdale	Relegated
"""

df = pd.read_csv(StringIO(table_text), sep="\t")
df.head()

df = df.drop(columns = ["Goalkeeper", "Attendance", "Top Team Scorer", "Notes"])
df["Squad"] = df["Squad"].str.replace("Club Crest ", "", regex=False)

In [15]:
df

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90
0,1,Liverpool,38,25,9,4,86,41,45,84,2.21,82.2,38.6,43.6,1.15
1,2,Arsenal,38,20,14,4,69,34,35,74,1.95,59.9,34.4,25.5,0.67
2,3,Manchester City,38,21,8,9,72,44,28,71,1.87,68.1,47.7,20.4,0.54
3,4,Chelsea,38,20,9,9,64,43,21,69,1.82,67.8,47.3,20.5,0.54
4,5,Newcastle Utd,38,20,6,12,68,47,21,66,1.74,63.8,45.5,18.3,0.48
5,6,Aston Villa,38,19,9,10,58,51,7,66,1.74,56.1,50.1,5.9,0.16
6,7,Nott'ham Forest,38,19,8,11,58,46,12,65,1.71,45.5,48.9,-3.4,-0.09
7,8,Brighton,38,16,13,9,66,59,7,61,1.61,58.7,54.6,4.1,0.11
8,9,Bournemouth,38,15,11,12,58,46,12,56,1.47,64.0,48.5,15.5,0.41
9,10,Brentford,38,16,8,14,66,57,9,56,1.47,59.0,55.4,3.6,0.09
10,11,Fulham,38,15,9,14,54,54,0,54,1.42,49.0,47.2,1.8,0.05
11,12,Crystal Palace,38,13,14,11,51,51,0,53,1.39,60.4,49.1,11.3,0.30
12,13,Everton,38,11,15,12,42,44,-2,48,1.26,41.8,46.2,-4.5,-0.12
13,14,West Ham,38,11,10,17,46,62,-16,43,1.13,47.0,59.7,-12.7,-0.33
14,15,Manchester Utd,38,11,9,18,44,54,-10,42,1.11,52.6,53.8,-1.3,-0.03
15,16,Wolves,38,12,6,20,54,69,-15,42,1.11,43.7,58.1,-14.5,-0.38
16,17,Tottenham,38,11,5,22,64,65,-1,38,1.00,58.8,63.3,-4.5,-0.12
17,18,Leicester City,38,6,7,25,33,80,-47,25,0.66,32.6,71.9,-39.3,-1.03
18,19,Ipswich Town,38,4,10,24,36,82,-46,22,0.58,34.4,72.7,-38.3,-1.01
19,20,Southampton,38,2,6,30,26,86,-60,12,0.32,32.7,84.8,-52.1,-1.37

In [ ]:
df["xG"] = pd.to_numeric(df["xG"]) / 38
df["xGA"] = pd.to_numeric(df["xGA"]) / 38

teams = ["Liverpool", "Manchester City"]
df_xG_xGA_2425 = df[df["Squad"].isin(teams)][["Squad", "xG", "xGA"]].reset_index(drop=True)

In [17]:
City_2526_xG
City_2526_xGA

Liv_2526_xG
Liv_2526_xGA

df_xG_xGA_2526 = pd.DataFrame({
    "Squad": ["Liverpool", "Manchester City"],
    "xG": [Liv_2526_xG / 10 , City_2526_xG / 10],
    "xGA": [Liv_2526_xGA / 10, City_2526_xGA / 10]
})
df_xG_xGA_2526

             Squad     xG    xGA
0        Liverpool  1.775  1.197
1  Manchester City  1.850  0.933

In [18]:
df_xG_xGA_2425

             Squad        xG       xGA
0        Liverpool  2.163158  1.015789
1  Manchester City  1.792105  1.255263

Calculating Lambda, using 24/25 data, but using a recency factor to allow for the fact that City are performing better than last year, and Liverpool worse

In [19]:
Liv_2425 = df_xG_xGA_2425["xG"][0]
City_2425 = df_xG_xGA_2425["xG"][1]
n_2425 = 38

In [20]:
Liv_2526 = df_xG_xGA_2526["xG"][0]
City_2526 = df_xG_xGA_2526["xG"][1]
n_2526 = 10

In [21]:
w = np.linspace(1,5, 26)
w

array([1.  , 1.16, 1.32, 1.48, 1.64, 1.8 , 1.96, 2.12, 2.28, 2.44, 2.6 ,
       2.76, 2.92, 3.08, 3.24, 3.4 , 3.56, 3.72, 3.88, 4.04, 4.2 , 4.36,
       4.52, 4.68, 4.84, 5.  ])

In [22]:
def recency_weighted_xg(xg_old, n_old, xg_new, n_new, w):
    eff_n_new = w * n_new
    return (n_old * xg_old + eff_n_new * xg_new) / (n_old + eff_n_new)

In [45]:
import pandas as pd
import numpy as np

w_values = np.linspace(1, 5, 9)

def recency_weighted_xg(xg_old, n_old, xg_new, n_new, w):
    eff_n_new = w * n_new
    return (n_old * xg_old + eff_n_new * xg_new) / (n_old + eff_n_new)

Liv_2425 = df_xG_xGA_2425["xG"][0]
City_2425 = df_xG_xGA_2425["xG"][1]
n_2425 = 38

Liv_2526 = df_xG_xGA_2526["xG"][0]
City_2526 = df_xG_xGA_2526["xG"][1]
n_2526 = 10

rows = []
for w in w_values:
    lambda_city = recency_weighted_xg(City_2425, n_2425, City_2526, n_2526, w)
    lambda_liv  = recency_weighted_xg(Liv_2425,  n_2425, Liv_2526,  n_2526, w)
    rows.append({
        "w": w,
        "Lambda_City": lambda_city,
        "Lambda_Liv": lambda_liv,
    })

df_lambdas = pd.DataFrame(rows)
df_lambdas["City_Scaled"] = 1.2 * 0.75 * df_lambdas["Lambda_City"]
df_lambdas["Liv_Scaled"] = 0.8 * 0.75 * df_lambdas["Lambda_Liv"]

df_lambdas

     w  Lambda_City  Lambda_Liv  City_Scaled  Liv_Scaled
0  1.0     1.804167    2.082292     1.623750    1.249375
1  1.5     1.808491    2.053302     1.627642    1.231981
2  2.0     1.812069    2.029310     1.630862    1.217586
3  2.5     1.815079    2.009127     1.633571    1.205476
4  3.0     1.817647    1.991912     1.635882    1.195147
5  3.5     1.819863    1.977055     1.637877    1.186233
6  4.0     1.821795    1.964103     1.639615    1.178462
7  4.5     1.823494    1.952711     1.641145    1.171627
8  5.0     1.825000    1.942614     1.642500    1.165568

In [ ]:
def row_probs(row):

    p_city_win, p_draw, p_liv_win = match_probs(row["City_Scaled"], row["Liv_Scaled"], K=10)
    return pd.Series({
        "P_Liv_Win": p_liv_win,  
        "P_Draw": p_draw,     
        "P_City_Win": p_city_win, 
    })

probs = df_lambdas.apply(row_probs, axis=1)
df_lambdas = pd.concat([df_lambdas, probs], axis=1)

probs

   P_Liv_Win    P_Draw  P_City_Win
0   0.294410  0.244254    0.461334
1   0.289498  0.244336    0.466164
2   0.285438  0.244380    0.470181
3   0.282024  0.244400    0.473575
4   0.279116  0.244404    0.476479
5   0.276607  0.244398    0.478993
6   0.274422  0.244386    0.481190
7   0.272501  0.244370    0.483127
8   0.270799  0.244352    0.484847

In [ ]:
w_5_probs = probs.loc[[8]]

import pandas as pd

w_5_probs_df = probs.loc[[8]] 

w_5_probs_overround = pd.DataFrame({
    "P_City_Win": w_5_probs_df["P_City_Win"] * 1.2,
    "P_Draw":     w_5_probs_df["P_Draw"] * 1.05,
    "P_Liv_Win":  w_5_probs_df["P_Liv_Win"],  
}, index=w_5_probs_df.index)

w_5_probs_df_overround

   P_City_Win   P_Draw  P_Liv_Win
8    0.581817  0.25657   0.270799

In [72]:
import pandas as pd

df_w5 = pd.DataFrame(
    [
        [
            w_5_probs["P_City_Win"],
            w_5_probs["P_Draw"],
            w_5_probs["P_Liv_Win"],
        ],
        [
            w_5_probs_overround["P_City_Win"],
            w_5_probs_overround["P_Draw"],
            w_5_probs_overround["P_Liv_Win"],
        ],
    ],
    index=["Probabilities", "Overrounded Probabilities"],
    columns=["City Win", "Draw", "Liverpool Win"],
)

df_w5

,City Win,Draw,Liverpool Win
Probabilities,"8 0.484847 Name: P_City_Win, dtype: float64","8 0.244352 Name: P_Draw, dtype: float64","8 0.270799 Name: P_Liv_Win, dtype: float64"
Overrounded Probabilities,"8 0.581817 Name: P_City_Win, dtype: float64","8 0.25657 Name: P_Draw, dtype: float64","8 0.270799 Name: P_Liv_Win, dtype: float64"

In [74]:
Decimal_Odds = [1/0.581817, 1/0.25657, 1/0.270799]
Decimal_Odds

[1.718753491218029, 3.89757181276065, 3.6927758226581338]

Probabilities without Haaland

In [ ]:
import pandas as pd

Haland_xG = [23.95, 11.09]
Haland_Minutes = [2794, 948]
City_xG = [68.1, 21.05]
City_Minutes = [3420, 990]

Haland_xG_share = [
    Haland_xG[i] / (City_xG[i] * (Haland_Minutes[i] / City_Minutes[i]))
    for i in range(len(Haland_xG))
]

df_haland = pd.DataFrame({
    "Metric": [
        "Haland_xG",
        "Haland_Minutes",
        "City_xG",
        "City_Minutes",
        "Haland_xG_share",
    ],
    "2024_25": [
        Haland_xG[0],
        Haland_Minutes[0],
        City_xG[0],
        City_Minutes[0],
        Haland_xG_share[0],
    ],
    "2025_26": [
        Haland_xG[1],
        Haland_Minutes[1],
        City_xG[1],
        City_Minutes[1],
        Haland_xG_share[1],
    ],
}).set_index("Metric")

df_haland

                     2024_25     2025_26
Metric
Haland_xG          23.950000   11.090000
Haland_Minutes   2794.000000  948.000000
City_xG            68.100000   21.050000
City_Minutes     3420.000000  990.000000
Haland_xG_share     0.430485    0.550182

In [77]:
Marmoush_xG = [5.49,1.04]
Marmoush_Minutes = [1182, 180]
Marmoush_xG_per90 = [
    (Marmoush_xG[0] / Marmoush_Minutes[0]) * 90,
    (Marmoush_xG[1] / Marmoush_Minutes[1]) * 90
]

In [78]:
xG_without_Haland_2425 = (City_xG[0] / 38) - (Haland_xG[0] / (Haland_Minutes[0] / 90)) +Marmoush_xG_per90[0]

In [79]:
xG_without_Haland_2526 = (City_xG[1] / 11) - (Haland_xG[1] / (Haland_Minutes[1] / 90)) + Marmoush_xG_per90[0]

In [102]:
xG_without_Haland = [xG_without_Haland_2425, xG_without_Haland_2526]
xG_without_Haland

[1.4386509793227003, 1.2788085669390687]

In [82]:
def recency_weighted_xg(xg_old, n_old, xg_new, n_new, w):
    eff_n_new = w * n_new
    return (n_old * xg_old + eff_n_new * xg_new) / (n_old + eff_n_new)

City_Lambda_without_Haland = recency_weighted_xg(xG_without_Haland_2425, 38, xG_without_Haland_2526, 11, 2)

In [84]:
Liv_Lambda_Scaled_5 = 1.161558

In [87]:
City_Lambda_without_Haland = 1.2*0.75* City_Lambda_without_Haland

In [90]:
City_Lambda_without_Haland
Liv_Lambda_Scaled_5 = 1.165568

In [91]:
City_Lambda_without_Haland

1.2420378853038314

In [ ]:
import math
import pandas as pd

def pois_pmf(k, lam):
    return math.exp(-lam) * lam**k / math.factorial(k)

def match_probs(lam_city, lam_liv, K=10):
    """
    lam_city: City goal rate (λ_C)
    lam_liv:  Liverpool goal rate (λ_L)
    Returns: (P_City_gt_Liv, P_City_eq_Liv, P_Liv_gt_City)
    """

    pC = [pois_pmf(k, lam_city) for k in range(K + 1)]
    pL = [pois_pmf(k, lam_liv)  for k in range(K + 1)]

    # CDFs
    FC, FL = [], []
    cumC = cumL = 0.0
    for k in range(K + 1):
        cumC += pC[k]
        cumL += pL[k]
        FC.append(cumC)  
        FL.append(cumL)  


    p_eq = sum(pC[k] * pL[k] for k in range(K + 1))


    p_city_gt_liv = sum(pC[c] * FL[c - 1] for c in range(1, K + 1))

    
    p_liv_gt_city = sum(pL[l] * FC[l - 1] for l in range(1, K + 1))

    return p_city_gt_liv, p_eq, p_liv_gt_city


lam_city = City_Lambda_without_Haland     
lam_liv  = Liv_Lambda_Scaled_5

P_City_gt_Liv, P_eq, P_Liv_gt_City = match_probs(lam_city, lam_liv, K=10)


df_probs = pd.DataFrame({
    "Outcome": ["City > Liv", "City = Liv", "Liv > City"],
    "Probability": [P_City_gt_Liv, P_eq, P_Liv_gt_City],
}).set_index("Outcome")

df_probs

            Probability
Outcome
City > Liv     0.380592
City = Liv     0.275853
Liv > City     0.343556

In [104]:
Lambda_2 = (37/17 * 0.75 * 1.2)
Lambda_2

1.9588235294117646

In [ ]:
P_City_gt_Liv, P_eq, P_Liv_gt_City = match_probs(Lambda_2, lam_liv, K=10)

df_probs_2 = pd.DataFrame({
    "Outcome": ["City Win", "Draw", "Liverpool Win"],
    "Probability": [P_City_gt_Liv, P_eq, P_Liv_gt_City],
}).set_index("Outcome")

df_probs_2

            Probability
Outcome
City > Liv     0.558039
City = Liv     0.218442
Liv > City     0.223512