In [ ]:
import numpy as np
import pandas as pd

bookmakers = ['Bet365', 'William Hill', 'Betfred', 'Ladbrokes', 'Paddy Power']

india =       [11/8,  11/8, 13/8, 5/4, 6/4]
australia =   [4/1,   4/1,  5/1,  4/1, 4/1]
england =     [9/2,   9/2,  11/2, 5/1, 11/2]
south_africa =[11/2,  11/2, 11/2, 6/1, 9/2]
new_zealand = [16/1,  14/1, 12/1, 14/1, 16/1]

odds_array = np.array([
    india,
    australia,
    england,
    south_africa,
    new_zealand
], dtype=float)

teams = ['India', 'Australia', 'England', 'South Africa', 'New Zealand']

df = pd.DataFrame(odds_array, index=teams, columns=bookmakers)

              Bet365  William Hill  Betfred  Ladbrokes  Paddy Power
India          1.375         1.375    1.625       1.25          1.5
Australia      4.000         4.000    5.000       4.00          4.0
England        4.500         4.500    5.500       5.00          5.5
South Africa   5.500         5.500    5.500       6.00          4.5
New Zealand   16.000        14.000   12.000      14.00         16.0

In [9]:
Decimal_odds = df + 1

In [13]:
Decimal_odds["Mean"] = Decimal_odds.mean(axis=1)

In [14]:
Decimal_odds

,Bet365,William Hill,Betfred,Ladbrokes,Paddy Power,Mean_Odds,Mean
India,2.375,2.375,2.625,2.25,2.5,2.425,2.425
Australia,5.000,5.000,6.000,5.00,5.0,5.200,5.200
England,5.500,5.500,6.500,6.00,6.5,6.000,6.000
South Africa,6.500,6.500,6.500,7.00,5.5,6.400,6.400
New Zealand,17.000,15.000,13.000,15.00,17.0,15.400,15.400